.#{$prefix}-wrap {

  .#{$prefix}-top-buttons {
    float: right;
  }

  .#{$prefix}-bottom-buttons {
    text-align: right;
  }

  .#{$prefix}-top-buttons,
  .#{$prefix}-bottom-buttons {
    button {
      margin-left: 10px;
    }
  }

  button {
    &.#{$prefix}-inline-button {
      display: inline-flex;
      align-items: center;
    }
  }
}
