body {

  &.rtl {

    .#{$prefix}-wrap {

      .#{$prefix}-top-wrap > h1 {
        float: right;
      }

      .#{$prefix}-top-buttons {
        float: left;
      }

      .#{$prefix}-bottom-buttons {
        text-align: left;
      }

      .#{$prefix}-nav-tab {
        float: right;
        margin-left: 0;
        margin-right: .5em;
      }

      .notice {
        &.#{$prefix}-notice {
          padding-right: 12px;
          padding-left: 38px;

          &.#{$prefix}-show-icon {
            p:before {
              margin-right: 0;
              margin-left: 12px;
            }
          }

          .#{$prefix}-dismiss {
            right: initial;
            left: 0;
          }

          @media screen and (max-width: 782px) {
              padding-right: 10px;
              padding-left: 46px;
          }
        }
      }
    }
  }
}
