.#{$prefix}-wrap {

  .wp-filter {
    .filter-links {
      a {
        &:hover,
        &:focus {
          color: #1d2327
        }

        &:focus {
          box-shadow: none !important;
          outline: none !important;
        }
      }
    }
  }
}
