.#{$prefix}-wrap {

  .nav-tab-wrapper {

    a.nav-tab {
      font-size: 13px !important;

      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }
}
