.#{$prefix}-wrap {

  .#{$prefix}-nav-tab-wrapper {
    position: relative;
    clear: both;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    line-height: inherit;
    padding: 8px 12px 0;
    margin: -4px -12px;

    .#{$prefix}-nav-tab {
      float: left;
      border: 1px solid #ccc;
      margin-left: .5em;
      margin-bottom: -1px;
      padding: 5px 14px;
      font-size: 12px;
      line-height: 16px;
      background: #f1f1f1;
      color: #555;
      font-weight: 600;
      border-radius: 3px 3px 0 0;
      text-decoration: none;

      .#{$prefix}-nav-desktop {
        margin-left: 4px;

        @media screen and (max-width: 642px) {
          display: none;
        }
      }

      .#{$prefix}-dashicons-tabs {
        font-size: initial;
        display: inline;
        vertical-align: text-bottom;
      }

      &.#{$prefix}-active-tab {
        background-color: inherit;
        border-bottom-color: #fff;
        color: #000;
      }

      &:focus {
        box-shadow: 0 0 0 1px #5b9dd9,
        0 0 2px 1px rgba(30, 140, 190, .8);
        border-color: #fff;
      }
    }

    a.nav-tab {
      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
    }
  }

  .#{$prefix}-tabs-content {
    margin: 1.33em auto 0;

    select {
      width: 100%;
      max-width: max-content;
      text-overflow: ellipsis;
    }
  }
}
