.#{$prefix}-wrap {

  .#{$prefix}-top-wrap > h1 {
    float: left;
    font-weight: 700;
    margin-bottom: 20px;

    .subtitle {
      padding-left: 3px;
    }
  }

  .#{$prefix}-fields {
    p.description {
      margin: 7px 0 5px;
      color: #666;
    }
  }

  @media screen and (max-width: 782px) {

    p.duckdev-fields {
      line-height: 2.8;
    }
  }
}
