.#{$prefix}-wrap {

  .#{$prefix}-hidden {
    display: none !important;
  }

  .#{$prefix}-green {
    color: #46B450 !important;
  }

  .#{$prefix}-grey {
    color: #BEBEBE !important;
  }

  .#{$prefix}-red {
    color: #DC3232 !important;
  }
}
