@use './../utils/variables';

$prefix: '#{variables.$prefix}';

.#{$prefix}-wrap {

  // Repeat table component.
  .#{$prefix}-repeat-table {
    width: 100%;
    border-spacing: 0 5px;

    &-delete {
      vertical-align: middle;
      padding-bottom: 10px;
      padding-left: 6px;

      &-button {
        padding: 14px !important;
      }
    }
  }
}
