.jj4t3-url-p {
    color: #e53531 !important;
}

.jj4t3-fixed-height {
    height: 120px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 0 20px 0 0;
}

.jj4t3-notice {
    padding: 10px;
}

.jj4t3-p-desc {
    font-size: 13px !important;
}

.jj4t3-h2 {
    font-size: 23px;
    line-height: 29px;
    font-weight: bold !important;
}

h2 .subtitle a {
    text-decoration: none;
}

.jj4t3-hide {
    display: none;
}

.jj4t3-handle {
    cursor: default !important;
}
